<div style="width: 800px; margin: auto">
  <div style="width: 150px; float: left">
    <span>NO (A)</span>
  </div>
  <div id="img-div" style="width: 500px; float: left; margin: auto">
    <img id="main-img" src="">
    <br>
    Remaining: <span id="remaining">0</span>
  </div>
  <div style="width: 150px; float: right">
    <span>YES (S)</span>
  </div>
</div>
<br>
<br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='classifier.js')}}"></script>
