{% extends "base.j2" %}
{% import "macros.j2" as macros %}

{% block head %}
  <title>Cruiser Classifier</title>
{% endblock %}

{% block body %}
  <span class="hide"> Remaining: <span id="remaining">0</span></span>
  <div class="row">
    <div class="col-md-1">
      <span>NO (A)</span>
    </div>
    <div class="col-md-5 text-center">
      {{macros.product_card("classify-card")}}
    </div>
    <div class="col-md-1">
      <span>YES (S)</span>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='classifier.js')}}"></script>
{% endblock %}
