{% extends "base.j2" %}
{% import "macros.j2" as macros %}

{% block head %}
  <title>Cruiser Ranker</title>
{% endblock %}

{% block body %}
  <div class="rank-main">
    <div class="row">
      <div class="col-md-6">
        {{ macros.product_card("card-left") }}
      </div>
      <div class="col-md-6">
        {{ macros.product_card("card-right") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <a id="del-left" href="#">remove this product</a>
      </div>
      <div class="col-md-6 text-center">
        <a id="del-right" href="#">remove this product</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='rank.js')}}"></script>
{% endblock %}
