.rank-main {
  width: 800px;
  margin: auto;
  text-align: center;
}

.rank-choice {
  width: 400px;
  margin: auto;
}

.clear {
  clear: both;
}


body {
  padding-top: 60px;
}


.pc {
    background: #f0f0f0;
    padding: 30px 0;
    border: 1px solid;
    border-color: #2c3e50;
    border-radius: 20px;
    position: relative;
    -webkit-transition: all .2s
}

.pc-container {
    -webkit-transition: all .2s
}

.pc .main-img {
    height: 500px;
}

.pc .descr {
    height: 80px;
    color: #999;
    padding: 5px, 10px; 
}
 
.pc .ends {
    padding: 0 15px;
    color: #f1c40f;
    margin-bottom: 10px;
}

.pc .cruiser-link {
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 15px;
    background: #2c3e50;
}

.pc-selected {
    border: 10px solid #2c3e50;
    padding-bottom: 20px;
}


.pc-selected >.pc-container {
    margin-top: -9px;
}

.pc-accept {
    border: 10px solid green;
    padding-bottom: 18px;
}

.pc-accept >.pc-container {
    margin-top: -9px;
}

.pc-reject {
    border: 10px solid red;
    padding-bottom: 18px;
}

.pc-reject >.pc-container {
    margin-top: -9px;
}
